@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;700;800;900&family=Raleway:wght@400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .smooth-effect {
        @apply transition-all duration-300;
    }
    .absolute-center {
        @apply flex items-center justify-center;
    }
    .full-size {
        @apply h-full w-full;
    }
}

@layer base {
    h2 {
        @apply text-2xl font-bold font-serif;
    }
    h3 {
        @apply text-xl font-semibold font-serif;
    }
}

.ce-paragraph {
    font-size: 20px;
    line-height: 1.5;
    font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    /* Các thuộc tính CSS khác */
}

.ce-inline-tool {
    padding: 0 8px;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: unset !important;
}
/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
} */
